#root {
  width: 100%;
  padding: 0;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Create a circular container */
.circle {
  width: 150px;        /* Set the diameter of the circle */
  height: 150px;       /* Set the diameter of the circle */
  background-color: red;
  border-radius: 25%;  /* Make it a circle */
  overflow: hidden;    /* Hide anything outside the circle */
  position: relative;
}

.circle-image {
  width: 99%;
  height: 99%;
  object-fit: cover;
  transform: scale(0.9);   /* Ensure the image covers the circle */
}
